{% extends "super.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block section_stylessheet %}
	<link id="home" rel="stylesheet" class="link-home" href="{{ _host }}css/sections/home.css">
	<link id="home" rel="stylesheet" class="link-home" href="{{ _host }}css/sections/models-home.css">
{% endblock %}

{% block section %}
    <input type="hidden" id="hidden_section" value="home">
{% endblock %}
{% block menu_patch %}    
	<div class="menu-patch" id="patch">&nbsp;</div>
{% endblock %}
{% block navbar %}
    {% embed "super_navbar.twig" %}
		{% block phone_call %}
			<div id="phone-call">
				<a href="tel: +013337771989">
					<span style="color: #ffffff;">
				    	Tel. 01(33)3777-1989
					</span>
				</a>
			</div>
		{% endblock %}
		{% block models_header %}
			{#{% embed "menus/models_menu.twig" %}{% endembed %}#}
	    {% endblock %}
	    {% block menu_catalogs %}                
		    {% embed "menus/list_catallogs.twig" %}{% endembed %}
		{% endblock %}
    {% endembed %}
{% endblock %}
{% block content_current %}
	<div id="content-content">
		<div class="promos-wrapper-shide_s-cross">
			<div class="promos-container">
				<div class="promotion">
					<div id="content-section-slider-home">
    					{% embed "home/container.twig" %}{% endembed %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block scroll_to_top %}
    {% embed "menus/scrolltotop.twig" %}{% endembed %}
{% endblock %}
{% block footer %}
    {% embed "super_footer.twig" %}{% endembed %}
{% endblock %}
{% block script_load_js %}
{% endblock %}
{% block section_scripts %}
	<script src="{{ _host }}js/sections/home.js"></script>
	<script src="{{ _host }}js/sections/totop.js"></script>
{% endblock %}
{% block load_scripts %}
{% endblock %}