{# Begin: Footer #}
<div id="footer-wrapper" class="wrap push">
    <div id="footer-content">
        <div class="footer-row first row-1">
            <div class="footer-column column-a">
                <div class="footer-title">Comprar un Suzuki <i class="fa fa-plus" style="font-size: 15px; margin: 5px 20px;" id="panel-before-buy"></i></div>
                <ul class="links" id="links-before-buy">
                    <li>
                        <a href="{{ _host }}modelos" class="scroll-up">
                            <span>Modelos</span>
                        </a>
                    </li>
                    {#
                    <li>
                        <a href="{{ _host }}catalogos" class="scroll-up">
                            <span>Catálogos</span>
                        </a>
                    </li>
                    <li><a href="#prueba-de-manejo"  onclick=" var modelo = get_car_by_url(); $.openPanel('test-drive', modelo ); return false;"><span>Agenda prueba de manejo</span></a></li>
                    #}
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="footer-column column-b">
                <div class="footer-title">
                    Redes sociales <i class="fa fa-plus" style="font-size: 15px; margin: 5px 20px;" id="panel-social-networks"></i>
                </div>
                <ul class="links social"  id="links-social-networks">
                    <li><a target="_blank" href="https://www.facebook.com/SuzukiVallartaLopezMateosYAvVallarta"><span>Facebook</span></a></li>
                    <li><a target="_blank" href="https://twitter.com/Suzuki_Gdl"><span>Twitter</span></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="footer-column column-c">
                <div class="footer-title">
                    Catálogos <i class="fa fa-plus" style="font-size: 15px; margin: 5px 20px;" id="panel-catalog"></i>
                </div>
                <ul class="links links-s-1 links_catalog" id="links-catalog">
                    <li>
                        <a href="{{ _host }}catalogos/swift-sport" class="scroll-up">
                            <span>Swift Sport</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ _host }}catalogos/swift" class="scroll-up">
                            <span>Swift</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ _host }}catalogos/kizashi" class="scroll-up">
                            <span>Kizashi</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ _host }}catalogos/s-cross" class="scroll-up">
                            <span>S-Cross</span>
                        </a>
                    </li>
                </ul>
                <ul class="links links-s-2 links_catalog">
                    <li>
                        <a href="{{ _host }}catalogos/grand-vitara" class="scroll-up">
                            <span>Grand Vitara</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ _host }}catalogos/ciaz" class="scroll-up">
                            <span>Ciaz</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ _host }}catalogos/nueva-vitara" class="scroll-up">
                            <span>Nueva Vitara</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ _host }}catalogos/ignis" class="scroll-up">
                            <span>Ignis</span>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            {#
            <div class="footer-column column-d">
                <div class="footer-title">Seminuevos <i class="fa fa-plus" style="font-size: 15px; margin: 5px 20px;" id="panel-catalog"></i></div>
                <ul class="links">
                    <li><a href="http://suzukigdl.com.mx/seminuevos/" title="Seminuevos López Mateos">Seminuevos López Mateos</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            #}
            <div class="clearfix"></div>
        </div>
        <div class="footer-row row-2">
            <div class="footer-column column-g">
                <div class="footer-title">Noticias Suzuki</div>
                <div class="footer-form">
                    {# Begin MailChimp Signup Form #}
                    <div id="mc_embed_signup">
                        <p>Experimenta el estilo de vida Suzuki. Ingresa tus datos:</p>
                        <form action="//medigraf.us6.list-manage.com/subscribe/post?u=eb6adc86fe16ad4e6562f80c1&amp;id=0136300666" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <fieldset>
                                    <label for="mce-FNAME"><span style="color: red; font-size: 12px;"><span class="fa fa-asterisk"></span></span> Nombre completo:</label>
                                    <input type="text" id="mce-FNAME" name="FNAME" class="news_validate_input" placeholder="Nombre completo" data-validation-data="required|name">
                                    <p class="invalid-message">Escribe tu nombre<span>&nbsp;</span></p>
                                </fieldset>
                                <fieldset>
                                    <label for="mce-EMAIL"><span style="color: red; font-size: 12px;"><span class="fa fa-asterisk"></span></span> Correo electrónico:</label>
                                    <input type="email" id="mce-EMAIL" name="EMAIL" class="news_validate_input" placeholder="Correo electrónico" data-validation-data="required|email" novalidate="">
                                    <p class="invalid-message">Escribe tu email<span>&nbsp;</span></p>
                                </fieldset>
                                <input type="hidden" name="CONCESIO" value="Vallarta">
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none">Ocurrio un problema.</div>
                                    <div class="response" id="mce-success-response" style="display:none">Se envió tu mensaje</div>
                                </div>    
                                {#  real people should not fill this in and expect good things - do not remove this or risk form bot signups #}
                                <div style="position: absolute; left: -5000px;"><input type="text" name="b_eb6adc86fe16ad4e6562f80c1_0136300666" tabindex="-1" value=""></div>
                                <div class="clear submit"><input type="submit" class="button red" value="Registrarse" name="subscribe" id="mc-embedded-subscribe"></div>
                            </div>
                        </form>
                    </div>
                    {# End mc_embed_signup #}
                </div>
            </div>
            <div class="footer-column column-a">
                <a href="http://camcar.mx/" target="_blank" class="footer-logo footer-logo-resp">
                    <img src="{{ _host }}img/Logo-CAMCAR-2016.png" alt="CAMCAR">
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="footer-row first row-1">
            <div class="footer-column column-a cubic">
                <div class="footer-title cubic-header">
                    <a {#href="http://www.suzukivallarta.com.mx" target="_blank"#} style="color: #fff; font-weight: 900; font-size: 16px;">Suzuki Av. Vallarta</a>
                </div>
                <div class="cubic-body">
                    Av. Vallarta No. 5300.<br/>
                    Col. Jardines Vallarta. Zapopan, Jal.<br/>
                    Tel. 01(33)3777-1989
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="footer-column column-a cubic">
                <div class="footer-title cubic-header">
                    <a {#href="http://www.suzuki-lm.com.mx" target="_blank"#} style="color: #fff; font-weight: 900; font-size: 16px;">Suzuki Av. López Mateos</a>
                </div>
                <div class="cubic-body">
                    Av. López Mateos No. 5654<br/>
                    Col. Arboledas. Zapopan, Jal.<br/>
                    Tel. 01(33)3884-8200
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="footer-column column-a cubic">
                <div class="footer-title cubic-header">
                    <a {#href="http://www.suzukicolima.com.mx" target="_blank"#} style="color: #fff; font-weight: 900; font-size: 16px;">Suzuki Colima</a>
                </div>
                <div class="cubic-body">
                    Av. Felipe Sevilla No. 536<br/>
                    Col. Lomas de Circunvalación. Colima, Colima.<br/>
                    Tel. 01(31)2316-3263
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="footer-column column-a cubic">
                <div class="footer-title cubic-header">
                    <a {#href="http://www.suzukicolima.com.mx" target="_blank"#} style="color: #fff; font-weight: 900; font-size: 16px;">Suzuki Manzanillo</a>
                </div>
                <div class="cubic-body">
                    BLV. Miguel de la Madrid Hurtado 1058<br/>
                    Col. Soleares Manzanillo, Colima <br>
                    Tel. 01 314 33 30 370   
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="footer-column column-a cubic">
                <div class="footer-title cubic-header">
                    <a {#href="http://www.suzukimorelia.com.mx" target="_blank"#} style="color: #fff; font-weight: 900; font-size: 16px;">Suzuki Morelia</a>
                </div>
                <div class="cubic-body">
                    Periférico Paseo de la República 3169 Colonia Las Américas<br/>
                    Morelia, Michoacán, C.P. 58270 <br>
                    Tel. 01-(443)-500-53-00
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="footer-row last">
            <div class="footer-copyright">
                <p>&copy; {{ _anio }} Suzuki Motor de México / {{ _loc }}</p>
            </div>
            <div class="footer-legals">
                <ul class="links">
                    <li><a href="{{ _host }}terminos-legales" id="go-legal-terms" class="scroll-up"><span>Términos legales</span></a></li>
                    <li><a href="{{ _host }}aviso-de-privacidad" id="go-privacy-notice" class="scroll-up"><span>Aviso de privacidad</span></a></li>
                    <li class="last"><a target="_blank" href="http://www.globalsuzuki.com/"><span>Suzuki Global</span></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{# <div class="content-responsive"></div> #}
{# End: Footer #}