<div id="mobile-menu" class="panel" role="navigation" style="">
	<div></div>
	<ul>
		{#<li>
			<a href="#" id="header-menu-test-drive">Agendar prueba de manejo</a>
		</li>#}
		<li class="menu-catalogs">
			<a id="nav-catalogs">Catálogos <i class="fa fa-plus" style="font-size: 15px; margin: 5px;" id="panel-catalog"></i></a>
			<ul class="links">
				<li>
	                <a href="{{ _host }}catalogos/nueva-vitara" class="ld-catalogs hvr-underline-from-center close-list-dropdown">Nueva Vitara</a>
	            </li>
	            <li>
	                <a href="{{ _host }}catalogos/ciaz" class="ld-catalogs hvr-underline-from-center close-list-dropdown">Ciaz</a>
	            </li>
	            <li>
	                <a href="{{ _host }}catalogos/swift" class="ld-catalogs hvr-underline-from-center close-list-dropdown">Swift</a>
	            </li>
	            <li>
	                <a href="{{ _host }}catalogos/kizashi" class="ld-catalogs hvr-underline-from-center close-list-dropdown">Kizashi</a>
	            </li>
	            <li>
	                <a href="{{ _host }}catalogos/grand-vitara" class="ld-catalogs hvr-underline-from-center close-list-dropdown">Grand Vitara</a>
	            </li>
	            <li>
	                <a href="{{ _host }}catalogos/swift-sport" class="ld-catalogs hvr-underline-from-center close-list-dropdown">Swift Sport</a>
	            </li>
	            <li>
	                <a href="{{ _host }}catalogos/s-cross" class="ld-catalogs hvr-underline-from-center close-list-dropdown">S-Cross</a>
	            </li>
	            <li>
	                <a href="{{ _host }}catalogos/ignis" class="ld-catalogs hvr-underline-from-center close-list-dropdown">Ignis</a>
	            </li>
			</ul>
		</li>
		<li>
			<a id="header-menu-before-buy">Comprar un Suzuki</a>
		</li>
		<li>
			<a href="{{ _host }}concesionarias" id="go-concesionaries">Concesionarias</a>
		</li>
		<li>
			<a href="{{ _host }}contactanos" id="go-contact">Contacto</a>
		</li>
		<li>
			<a href="{{ _host }}financiamiento" id="mobile-menu-financing">Financiamiento</a>
		</li>
		<li>
			<a href="{{ _host }}grupo" id="go-group">Grupo</a>
		</li>
		<li>
			<a id="header-menu-owners">Mi Suzuki</a>
		</li>
		<li>
			<a href="{{ _host }}modelos" id="mobile-menu-models">Modelos</a>
		</li>
		{#
		<li>
			<a href="#" id="header-menu-promo">Promociones</a>
		</li>
		#}
		<li>
			<a <a href="http://suzukigdl.com.mx/seminuevos/" title="Seminuevos López Mateos">Seminuevos</a>
		</li>
	</ul>
</div>