<div class="inner-menu" id="list-menu">
    <div class="list-catalog">
        <ul class="list-dropdown">
            <li>
                <a href="{{ _host }}catalogos/nueva-vitara" class="ld-catalogs hvr-underline-from-center close-list-dropdown">Nueva Vitara</a>
            </li>
            <li>
                <a href="{{ _host }}catalogos/ciaz" class="ld-catalogs hvr-underline-from-center close-list-dropdown">Ciaz</a>
            </li>
            <li>
                <a href="{{ _host }}catalogos/swift" class="ld-catalogs hvr-underline-from-center close-list-dropdown">Swift</a>
            </li>
            {#<li>
                <a href="{{ _host }}catalogos/kizashi" class="ld-catalogs hvr-underline-from-center close-list-dropdown">Kizashi</a>
            </li>#}
            <li>
                <a href="{{ _host }}catalogos/grand-vitara" class="ld-catalogs hvr-underline-from-center close-list-dropdown">Grand Vitara</a>
            </li>
            <li>
                <a href="{{ _host }}catalogos/swift-sport" class="ld-catalogs hvr-underline-from-center close-list-dropdown">Swift Sport</a>
            </li>
            <li>
                <a href="{{ _host }}catalogos/s-cross" class="ld-catalogs hvr-underline-from-center close-list-dropdown">S-Cross</a>
            </li>
            <li>
                <a href="{{ _host }}catalogos/ignis" class="ld-catalogs hvr-underline-from-center close-list-dropdown">Ignis</a>
            </li>
            <li>
                <a href="#" class="absolem close-list-dropdown"><i class="fa fa-times fa-fw fa-lg"></i></a>
            </li>
        </ul>
    </div>
</div>